flows_brewred.json
[{"id":"a55c907f.295ba","type":"tab","label":"Mash"},{"id":"3f0a242b.bdaa0c","type":"tab","label":"HLT"},{"id":"61c20373.04acbc","type":"tab","label":"Mqtt"},{"id":"1fe2c9ec.097096","type":"tab","label":"Buttons"},{"id":"63bd5d34.7210d4","type":"tab","label":"Flow Guard"},{"id":"4756d5fb.b3fdcc","type":"tab","label":"Timers"},{"id":"b352ef25.9381a","type":"subflow","name":"Process Simulation","info":"","in":[{"x":37,"y":103,"wires":[{"id":"39ebc46d.e3222c"}]}],"out":[{"x":700.5,"y":209,"wires":[{"id":"81abb3f0.92856","port":0}]}]},{"id":"25555dea.d30d22","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#000000","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#000000","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#000000","value":"#000000","edited":false},"page-titlebar-backgroundColor":{"value":"#000000","edited":false},"page-backgroundColor":{"value":"#000000","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#000000","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#969696","edited":true},"widget-borderColor":{"value":"#000000","edited":true}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":5,"gy":5,"cx":5,"cy":5,"px":5,"py":0}}},{"id":"5dbdf8ee.c6c5f8","type":"ui_group","z":"","name":"Cabinet fan","tab":"f307a22e.45181","order":1,"disp":true,"width":"17"},{"id":"9b9fd5a.b5e0d28","type":"ui_group","z":"","name":"Mash","tab":"4fbf4cb5.14bed4","order":2,"disp":false,"width":"17"},{"id":"7d1ec7e6.5e8a88","type":"ui_group","z":"","name":"Graph","tab":"cd2c495c.a2f3a8","order":1,"disp":false,"width":"15"},{"id":"f307a22e.45181","type":"ui_tab","z":"","name":"Settings","icon":"fa-wrench","order":5},{"id":"4fbf4cb5.14bed4","type":"ui_tab","z":"","name":"Dashboard","icon":"fa-home","order":1},{"id":"cd2c495c.a2f3a8","type":"ui_tab","z":"","name":"Log","icon":"fa-line-chart","order":2},{"id":"ec830b6f.26d5a8","type":"influxdb","z":"","hostname":"192.168.123.74","port":"8086","protocol":"http","database":"tempdata","name":"tempdata","usetls":false,"tls":""},{"id":"e60c3c8a.85051","type":"ui_group","z":"","name":"HTL","tab":"4fbf4cb5.14bed4","order":1,"disp":false,"width":"17"},{"id":"4edd3cce.3cbbd4","type":"ui_group","z":"","name":"Timer","tab":"4fbf4cb5.14bed4","order":3,"disp":false,"width":"17"},{"id":"4921dfbe.5bd69","type":"ui_group","z":"","name":"Button","tab":"cd2c495c.a2f3a8","order":2,"disp":false,"width":"15"},{"id":"5be514ba.287acc","type":"ui_tab","z":"","name":"HLT Settings","icon":"fa-wrench","order":3},{"id":"3088973a.1efd58","type":"ui_tab","z":"","name":"MT Settings","icon":"fa-wrench","order":4},{"id":"22cc7aa2.8b92f6","type":"ui_group","z":"","name":"Man/Auto","tab":"3088973a.1efd58","order":1,"disp":false,"width":"15"},{"id":"c014c15f.5d9bd","type":"ui_group","z":"","name":"Man/Auto","tab":"5be514ba.287acc","order":1,"disp":true,"width":"15"},{"id":"aa92bdd5.3c68f","type":"ui_group","z":"","name":"Setpoint","tab":"5be514ba.287acc","order":2,"disp":true,"width":"15"},{"id":"94ab1e65.a9e14","type":"ui_group","z":"","name":"Group 3","tab":"5be514ba.287acc","order":3,"disp":false,"width":"15"},{"id":"c1722663.66bd18","type":"ui_group","z":"","name":"Setpoint","tab":"3088973a.1efd58","order":2,"disp":true,"width":"15"},{"id":"a1b18d03.a13fb","type":"ui_group","z":"","name":"Group 3","tab":"3088973a.1efd58","order":3,"disp":false,"width":"15"},{"id":"bcbe3dc4.6f211","type":"ui_group","z":"","name":"Pump","tab":"f307a22e.45181","order":2,"disp":true,"width":"17"},{"id":"6e6cb254.44769c","type":"ui_group","z":"","name":"Group 3","tab":"f307a22e.45181","order":3,"disp":false,"width":"17"},{"id":"435eaa79.43b054","type":"ui_tab","z":"","name":"Timers","icon":"fa-clock-o","order":6},{"id":"12fecd1a.0afa33","type":"ui_group","z":"","name":"Setpoint[1]","tab":"435eaa79.43b054","order":1,"disp":false,"width":"15"},{"id":"d86a5a90.0207c8","type":"ui_group","z":"","name":"Buttons","tab":"435eaa79.43b054","order":4,"disp":false,"width":"15"},{"id":"c7e27c46.16d8","type":"ui_group","z":"","name":"Setpoint[2]","tab":"435eaa79.43b054","order":2,"disp":false,"width":"15"},{"id":"209c698a.4e29d6","type":"ui_group","z":"","name":"Setpoint[3]","tab":"435eaa79.43b054","order":3,"disp":true,"width":"15"},{"id":"478059b9.990488","type":"ui_group","name":"Group 1","tab":"15002bb.0a303d4","order":1,"disp":true,"width":6},{"id":"15002bb.0a303d4","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"46b3c723.ae3f88","type":"PID","z":"a55c907f.295ba","name":"MashPID","setpoint":"60","pb":"1","ti":"35","td":"40","integral_default":"0.1","smooth_factor":"3","max_interval":"1","enable":1,"disabled_op":0,"x":880,"y":60,"wires":[["c3552431.b45648","6e4a5303.117f1c"]]},{"id":"95f7d768.8e7488","type":"function","z":"a55c907f.295ba","name":"pass thru","func":"global.set(\"MTsetpoint\",msg.payload);\n\nnode.status({fill:\"red\",shape:\"dot\",text:msg.payload});\nmsg.topic = \"MTsetpoint\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":400,"wires":[["e39bf344.1d8b2","7be08c8d.821b14","58279ed2.dc744"]]},{"id":"60a99bdd.ac1d64","type":"ds18b20","z":"a55c907f.295ba","name":"MashTemp","sensorid":"28-0000066a75e6","timer":"0.032","x":160,"y":220,"wires":[["876d19a8.722ca8","c8480b7a.4ac7e8","8f57037c.740c5","a88fbf6d.456a5"]]},{"id":"7be08c8d.821b14","type":"function","z":"a55c907f.295ba","name":"mashtemptext","func":"var temp = 0\ntemp = global.get(\"MTsetpoint\");\n\nif (temp < 31) {\nmsg.payload = \"\";\n   return msg;\n}\nelse {\n    if (temp >= 31 && temp <= 45) {\nmsg.payload = \"Protein rest\";\n   return msg;\n}\nelse {\n    if (temp > 45 && temp <= 55) {\nmsg.payload = \"\";\n   return msg;\n}\nelse {\n    if (temp > 55 && temp < 60) {\nmsg.payload = \"Protein rest\";\n   return msg;\n}\nelse {\n    if (temp >= 60 && temp <= 66) {\nmsg.payload = \"Dry\";\n   return msg;\n}\nelse {\n    if (temp > 66 && temp <= 68.5) {\nmsg.payload = \"Med\";\n   return msg;\n}\n       else {\n    if (temp > 68.5 && temp <= 72) {\nmsg.payload = \"Sweet\";\n   return msg;\n}\nelse {\n    if (temp > 72 && temp <= 74) {\nmsg.payload = \"\";\n   return msg;\n}\nelse {\n    if (temp > 74 && temp <= 76) {\nmsg.payload = \"Mash out\";\n   return msg;\n}\nelse {\n    if (temp > 76 && temp <= 78) {\nmsg.payload = \"Sparge\";\n   return msg;\n}\nelse {\n    if (temp > 78) {\nmsg.payload = \"\";\n   return msg;\n}\n}\n}\n}\n}\n}\n}\n}\n}\n}    \n}\nreturn msg.payload;","outputs":1,"noerr":0,"x":1100,"y":380,"wires":[["2b0d3136.cb91ae"]]},{"id":"cba6f8a6.3abe08","type":"rpi-gpio out","z":"a55c907f.295ba","name":"MashHeater","pin":"11","set":true,"level":"0","out":"out","x":1390,"y":300,"wires":[]},{"id":"be18d4ec.708008","type":"function","z":"a55c907f.295ba","name":"wait","func":"var wait = (960 - msg.payload);\nif( wait < 900){ \n    payload=\"0\";\n    node.send({payload});\n\n    var tid = setTimeout(function() {\n        tid = null;\n        payload=\"1\";\n    node.send({payload});\n    },wait);\n} else {\n    payload=\"0\";\n    node.send({payload});\n}","outputs":1,"noerr":0,"x":1190,"y":300,"wires":[["cba6f8a6.3abe08"]]},{"id":"6e4a5303.117f1c","type":"range","z":"a55c907f.295ba","minin":"0","maxin":"1","minout":"0","maxout":"960","action":"scale","round":true,"name":"","x":1030,"y":80,"wires":[["be18d4ec.708008"]]},{"id":"48f3361.b0067c8","type":"ui_template","z":"a55c907f.295ba","group":"9b9fd5a.b5e0d28","name":"MashTemp Gauge","order":1,"width":"8","height":"3","format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar linear1;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.value) != \"undefined\") linear1.setValueAnimated(msg.value);\n           if (typeof(msg.threshold) != \"undefined\") linear1.setThreshold(msg.threshold);\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(0, 60, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(60, 73, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(73, 79, 'rgba(220, 220, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(79, 100, 'rgba(220, 0, 0, 0.3)')],\n\n  \n        linear1 = new steelseries.Linear('canvasLinear1', {\n                            width: 320,\n                            height: 110,\n                            gaugeType: steelseries.GaugeType.TYPE2,\n                            titleString: \"Mash\",\n                            unitString: \"C\",\n                            threshold: 0,\n                            lcdVisible: true,\n                            lcdDecimals: 1,\n                            ledVisible: false\n                            });\n\nlinear1.setFrameDesign(steelseries.FrameDesign.CHROME);\n</script>\n\n<canvas id=\"canvasLinear1\" width=\"320\" height=\"110\"></canvas>\n","storeOutMessages":true,"fwdInMessages":false,"x":634,"y":240,"wires":[[]]},{"id":"876d19a8.722ca8","type":"function","z":"a55c907f.295ba","name":"Temperature","func":"msg.value=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["48f3361.b0067c8"]]},{"id":"c8480b7a.4ac7e8","type":"function","z":"a55c907f.295ba","name":"Threshold","func":"msg.threshold=global.get(\"MTsetpoint\");\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":280,"wires":[["48f3361.b0067c8"]]},{"id":"7acf95a9.b5cb8c","type":"function","z":"a55c907f.295ba","name":"Conv","func":"msg.value=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":40,"wires":[["aa390c1a.09b01"]]},{"id":"c3552431.b45648","type":"range","z":"a55c907f.295ba","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":true,"name":"","x":1030,"y":40,"wires":[["7acf95a9.b5cb8c","41a81206.ae4a6c"]]},{"id":"2b0d3136.cb91ae","type":"ui_text","z":"a55c907f.295ba","group":"c1722663.66bd18","order":2,"width":"7","height":"1","name":"Mash text","label":"","format":"{{msg.payload}}","layout":"row-center","x":1300,"y":400,"wires":[]},{"id":"aa390c1a.09b01","type":"ui_template","z":"a55c907f.295ba","group":"9b9fd5a.b5e0d28","name":"OutputGauge","order":2,"width":"7","height":"3","format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar linear2;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.value) != \"undefined\") linear2.setValueAnimated(msg.value);\n           if (typeof(msg.threshold) != \"undefined\") linear2.setThreshold(msg.threshold);\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(0, 60, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(60, 73, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(73, 79, 'rgba(220, 220, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(79, 100, 'rgba(220, 0, 0, 0.3)')],\n\n  \n        linear2 = new steelseries.Linear('canvasLinear2', {\n                            width: 320,\n                            height: 110,\n                            gaugeType: steelseries.GaugeType.TYPE4,\n                            titleString: \"Output\",\n                            unitString: \"%\",\n                            threshold: 0,\n                            thresholdVisible: false,\n                            lcdVisible: true,\n                            lcdDecimals: 0,\n                            ledVisible: false\n                            });\n\nlinear2.setFrameDesign(steelseries.FrameDesign.CHROME);\n</script>\n\n<canvas id=\"canvasLinear2\" width=\"110\" height=\"320\"></canvas>\n","storeOutMessages":true,"fwdInMessages":true,"x":1380,"y":40,"wires":[[]]},{"id":"e39bf344.1d8b2","type":"ui_numeric","z":"a55c907f.295ba","name":"Setpoint(Mash)","label":"","group":"c1722663.66bd18","order":1,"width":"8","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".1","x":922.2381210327148,"y":292.8095111846924,"wires":[["95f7d768.8e7488"]]},{"id":"81abb3f0.92856","type":"function","z":"b352ef25.9381a","name":"30 sec RC + 0.2","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg = {};\nmsg.payload = newValue + 0.2;\nreturn msg;","outputs":1,"noerr":0,"x":569.5,"y":210,"wires":[[]]},{"id":"4537deab.4bba2","type":"inject","z":"b352ef25.9381a","name":"Inject 0 at start","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"x":124.5,"y":30,"wires":[["39ebc46d.e3222c"]]},{"id":"481ee8fe.c7ae78","type":"function","z":"b352ef25.9381a","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":210,"wires":[["81abb3f0.92856"]]},{"id":"39ebc46d.e3222c","type":"delay","z":"b352ef25.9381a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["dc3d8e5d.d731c"]]},{"id":"dc3d8e5d.d731c","type":"function","z":"b352ef25.9381a","name":"8 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 8;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":175,"y":210,"wires":[["481ee8fe.c7ae78"]]},{"id":"84334d27.d444c","type":"function","z":"a55c907f.295ba","name":"Change topic","func":"msg.topic=\"Out\";\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":220,"wires":[["538a909f.4d2b7"]]},{"id":"41a81206.ae4a6c","type":"smooth","z":"a55c907f.295ba","name":"","action":"mean","count":"10","round":"1","x":1220,"y":220,"wires":[["7ce9ee06.d5c2a"]]},{"id":"7ce9ee06.d5c2a","type":"delay","z":"a55c907f.295ba","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1400,"y":220,"wires":[["84334d27.d444c"]]},{"id":"8f57037c.740c5","type":"function","z":"a55c907f.295ba","name":"get MTsetpoint","func":"msg.setpoint=global.get(\"MTsetpoint\");\nmsg.disabled_op=global.get(\"MTsetpoint\")/100;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":100,"wires":[["5537f1a6.07371","598cf94b.be8da8"]]},{"id":"eee9a19.2b5cd6","type":"mqtt out","z":"61c20373.04acbc","name":"","topic":"/Brew/Mash/Temperature","qos":"0","retain":"false","broker":"","x":862.1428375244141,"y":160,"wires":[]},{"id":"3557e95e.06ce36","type":"ds18b20","z":"61c20373.04acbc","name":"MashTemp","sensorid":"28-0000066a4bd2","timer":"1","x":231.66665649414062,"y":282.8570442199707,"wires":[["92af35c0.3605e8"]]},{"id":"e2c4957e.f91008","type":"switch","z":"61c20373.04acbc","name":"LogFlag","property":"logFlag","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","outputs":2,"x":594.7023086547852,"y":186.0712776184082,"wires":[["eee9a19.2b5cd6"],[]]},{"id":"92af35c0.3605e8","type":"function","z":"61c20373.04acbc","name":"get logFlag","func":"msg.logFlag=global.get(\"logFlag\");\nreturn msg;","outputs":1,"noerr":0,"x":417.3808898925781,"y":180.17847442626953,"wires":[["e2c4957e.f91008"]]},{"id":"d33739b9.930288","type":"ui_template","z":"3f0a242b.bdaa0c","group":"e60c3c8a.85051","name":"HLTTemp Gauge","order":1,"width":"8","height":"3","format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar linear3;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.value) != \"undefined\") linear3.setValueAnimated(msg.value);\n           if (typeof(msg.threshold) != \"undefined\") linear3.setThreshold(msg.threshold);\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(0, 60, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(60, 73, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(73, 79, 'rgba(220, 220, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(79, 100, 'rgba(220, 0, 0, 0.3)')],\n\n  \n        linear3 = new steelseries.Linear('canvasLinear3', {\n                            width: 320,\n                            height: 110,\n                            gaugeType: steelseries.GaugeType.TYPE2,\n                            titleString: \"HLT\",\n                            unitString: \"C\",\n                            threshold: 0,\n                            lcdVisible: true,\n                            lcdDecimals: 1,\n                            ledVisible: false\n                            });\n\nlinear3.setFrameDesign(steelseries.FrameDesign.CHROME);\n</script>\n\n<canvas id=\"canvasLinear3\" width=\"320\" height=\"110\"></canvas>\n","storeOutMessages":true,"fwdInMessages":false,"x":570,"y":400,"wires":[[]]},{"id":"b12e5cf6.0aefb","type":"function","z":"3f0a242b.bdaa0c","name":"Temperature","func":"msg.value=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":365.00008392333984,"y":381.66662788391113,"wires":[["d33739b9.930288"]]},{"id":"b22c9c2b.6c939","type":"function","z":"3f0a242b.bdaa0c","name":"pass thru","func":"global.set(\"HLTsetpoint\",msg.payload);\n\nnode.status({fill:\"red\",shape:\"dot\",text:msg.payload});\nmsg.topic = \"setpoint\";\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":680,"wires":[["86290105.5398","b77c0703.322d98"]]},{"id":"86290105.5398","type":"ui_numeric","z":"3f0a242b.bdaa0c","name":"","label":"","group":"aa92bdd5.3c68f","order":1,"width":"8","height":"2","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".1","x":138.90477752685547,"y":576.1427631378174,"wires":[["b22c9c2b.6c939"]]},{"id":"fcd32f5b.6896b","type":"ds18b20","z":"3f0a242b.bdaa0c","name":"HLTTemp","sensorid":"28-0000066a4bd2","timer":"0.032","x":140,"y":280,"wires":[["3e790254.44f73e","4a293c76.598424","b12e5cf6.0aefb","a7e90ab9.d09f58"]]},{"id":"3e790254.44f73e","type":"function","z":"3f0a242b.bdaa0c","name":"get HLTsetpoint","func":"msg.setpoint=global.get(\"HLTsetpoint\");\nmsg.disabled_op=global.get(\"HLTsetpoint\")/100;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":120,"wires":[["72e299a3.8b3728"]]},{"id":"72e299a3.8b3728","type":"PID","z":"3f0a242b.bdaa0c","name":"HLTPID","setpoint":"35","pb":"5","ti":"35","td":"40","integral_default":"0.05","smooth_factor":"3","max_interval":"1","enable":1,"disabled_op":0,"x":840,"y":120,"wires":[["4013f035.f201","3270ea3a.f08466"]]},{"id":"4013f035.f201","type":"range","z":"3f0a242b.bdaa0c","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":true,"name":"","x":990,"y":100,"wires":[["ad785f98.f6c39"]]},{"id":"3270ea3a.f08466","type":"range","z":"3f0a242b.bdaa0c","minin":"0","maxin":"1","minout":"0","maxout":"960","action":"scale","round":true,"name":"","x":990,"y":160,"wires":[["e74a7b9.68c4288"]]},{"id":"e74a7b9.68c4288","type":"function","z":"3f0a242b.bdaa0c","name":"wait","func":"var wait = (960 - msg.payload);\nif( wait < 900){ \n    payload=\"0\";\n    node.send({payload});\n\n    var tid = setTimeout(function() {\n        tid = null;\n        payload=\"1\";\n    node.send({payload});\n    },wait);\n} else {\n    payload=\"0\";\n    node.send({payload});\n}","outputs":1,"noerr":0,"x":1150,"y":160,"wires":[["a79195a6.283e48"]]},{"id":"a79195a6.283e48","type":"rpi-gpio out","z":"3f0a242b.bdaa0c","name":"HLTHeater","pin":"13","set":true,"level":"0","out":"out","x":1290,"y":160,"wires":[]},{"id":"ad785f98.f6c39","type":"function","z":"3f0a242b.bdaa0c","name":"Conv","func":"msg.value=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":100,"wires":[["3ac70272.657c0e"]]},{"id":"3ac70272.657c0e","type":"ui_template","z":"3f0a242b.bdaa0c","group":"e60c3c8a.85051","name":"HLTOutputGauge","order":2,"width":"7","height":"3","format":"<script src=\"/myjs/tween-min.js\"></script>\n<script src=\"/myjs/steelseries-min.js\"></script>\n<script>\nvar linear4;\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.value) != \"undefined\") linear4.setValueAnimated(msg.value);\n           if (typeof(msg.threshold) != \"undefined\") linear4.setThreshold(msg.threshold);\n        });\n    })(scope);\n\n    var sections = [steelseries.Section(0, 60, 'rgba(0, 0, 220, 0.3)'),\n                        steelseries.Section(60, 73, 'rgba(0, 220, 0, 0.3)'),\n                        steelseries.Section(73, 79, 'rgba(220, 220, 0, 0.3)') ],\n\n            // Define one area\n    areas = [steelseries.Section(79, 100, 'rgba(220, 0, 0, 0.3)')],\n\n  \n        linear4 = new steelseries.Linear('canvasLinear4', {\n                            width: 320,\n                            height: 110,\n                            gaugeType: steelseries.GaugeType.TYPE4,\n                            titleString: \"HLT Output\",\n                            unitString: \"%\",\n                            threshold: 0,\n                            thresholdVisible: false,\n                            lcdVisible: true,\n                            lcdDecimals: 0,\n                            ledVisible: false\n                            });\n\nlinear4.setFrameDesign(steelseries.FrameDesign.CHROME);\n</script>\n\n<canvas id=\"canvasLinear4\" width=\"110\" height=\"320\"></canvas>\n","storeOutMessages":true,"fwdInMessages":true,"x":1310,"y":100,"wires":[[]]},{"id":"a7e90ab9.d09f58","type":"function","z":"3f0a242b.bdaa0c","name":"Threshold","func":"msg.threshold=global.get(\"HLTsetpoint\");\nreturn msg;","outputs":1,"noerr":0,"x":353.3333206176758,"y":443.3333282470703,"wires":[["d33739b9.930288"]]},{"id":"7618e41f.d9d9ec","type":"ui_switch","z":"3f0a242b.bdaa0c","name":"Man/Auto(HLT)","label":"","group":"c014c15f.5d9bd","order":1,"width":"15","height":"2","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-4x","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-4x","offcolor":"orange","x":400,"y":120,"wires":[["3e790254.44f73e"]]},{"id":"58279ed2.dc744","type":"ui_slider","z":"a55c907f.295ba","name":"Setpoint(Mash)","label":"Setpoint","group":"c1722663.66bd18","order":3,"width":"15","height":"1","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":920,"y":240,"wires":[["95f7d768.8e7488"]]},{"id":"1482821a.12583e","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto settings","x":370,"y":280,"wires":[[]]},{"id":"c7c7d19c.294e7","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto Dashboard","x":380,"y":440,"wires":[[]]},{"id":"5d370486.ae174c","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto Log","x":360,"y":320,"wires":[[]]},{"id":"a949cbde.a28c78","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto Dashboard","x":380,"y":400,"wires":[[]]},{"id":"5b8e3423.ead89c","type":"ui_button","z":"1fe2c9ec.097096","name":"Dashboard","group":"6e6cb254.44769c","order":2,"width":"2","height":"2","label":"","color":"orange","bgcolor":"black","icon":"fa-home fa-4x","payload":"Dashboard","payloadType":"str","topic":"","x":190,"y":440,"wires":[["c7c7d19c.294e7"]]},{"id":"49a49f26.fa2a6","type":"ui_button","z":"1fe2c9ec.097096","name":"Log","group":"4edd3cce.3cbbd4","order":4,"width":"2","height":"2","passthru":false,"label":"","color":"orange","bgcolor":"black","icon":"fa-line-chart fa-4x","payload":"Log","payloadType":"str","topic":"","x":210,"y":320,"wires":[["5d370486.ae174c"]]},{"id":"eec5bffe.40173","type":"ui_button","z":"1fe2c9ec.097096","name":"Dashboard","group":"4921dfbe.5bd69","order":1,"width":"2","height":"2","label":"","color":"orange","bgcolor":"black","icon":"fa-home fa-4x","payload":"Dashboard","payloadType":"str","topic":"","x":190,"y":400,"wires":[["a949cbde.a28c78"]]},{"id":"b31ab3b4.c5cc8","type":"ui_button","z":"1fe2c9ec.097096","name":"Settings","group":"4edd3cce.3cbbd4","order":5,"width":"2","height":"2","label":"","color":"orange","bgcolor":"black","icon":"fa-cogs fa-4x","payload":"Settings","payloadType":"str","topic":"","x":200,"y":280,"wires":[["1482821a.12583e"]]},{"id":"1656e81.4cb0718","type":"ui_button","z":"1fe2c9ec.097096","name":"","group":"9b9fd5a.b5e0d28","order":3,"width":"2","height":"2","label":"","color":"orange","bgcolor":"black","icon":"fa-wrench fa-4x","payload":"MT Settings","payloadType":"str","topic":"","x":210,"y":180,"wires":[["61c117e4.9d3d58"]]},{"id":"61c117e4.9d3d58","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto MT Settings","x":390,"y":180,"wires":[[]]},{"id":"1a51ba95.4225f5","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto Dashboard","x":380,"y":480,"wires":[[]]},{"id":"ee13542a.97aef8","type":"ui_button","z":"1fe2c9ec.097096","name":"Dashboard","group":"a1b18d03.a13fb","order":1,"width":"2","height":"2","passthru":false,"label":"","color":"orange","bgcolor":"black","icon":"fa-home fa-4x","payload":"Dashboard","payloadType":"str","topic":"","x":190,"y":480,"wires":[["1a51ba95.4225f5"]]},{"id":"a50e5f9f.c1123","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto Dashboard","x":380,"y":360,"wires":[[]]},{"id":"e0a51c1d.a6b12","type":"ui_button","z":"1fe2c9ec.097096","name":"Dashboard","group":"94ab1e65.a9e14","order":1,"width":"2","height":"2","label":"","color":"orange","bgcolor":"black","icon":"fa-home fa-4x","payload":"Dashboard","payloadType":"str","topic":"","x":190,"y":360,"wires":[["a50e5f9f.c1123"]]},{"id":"b77c0703.322d98","type":"ui_slider","z":"3f0a242b.bdaa0c","name":"","label":"","group":"aa92bdd5.3c68f","order":2,"width":"15","height":"1","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":150,"y":520,"wires":[["b22c9c2b.6c939"]]},{"id":"579c58fa.04c258","type":"ui_button","z":"1fe2c9ec.097096","name":"","group":"e60c3c8a.85051","order":3,"width":"2","height":"2","label":"","color":"orange","bgcolor":"black","icon":"fa-wrench fa-4x","payload":"HLT Settings","payloadType":"str","topic":"","x":210,"y":220,"wires":[["cb3c4609.1adfd8"]]},{"id":"cb3c4609.1adfd8","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto HLT Settings","x":390,"y":220,"wires":[[]]},{"id":"2497c972.e4c596","type":"ui_switch","z":"a55c907f.295ba","name":"Man/PID(Mash)","label":"Temperature (Man/PID)","group":"22cc7aa2.8b92f6","order":1,"width":"9","height":"2","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-4x","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-4x","offcolor":"orange","x":400,"y":20,"wires":[["44611c9e.c25104"]]},{"id":"45d5d1d3.edaf2","type":"rpi-gpio out","z":"1fe2c9ec.097096","name":"","pin":"40","set":true,"level":"0","out":"out","x":360,"y":660,"wires":[]},{"id":"e7842790.c40f68","type":"rpi-gpio out","z":"1fe2c9ec.097096","name":"","pin":"15","set":true,"level":"0","out":"out","x":360,"y":720,"wires":[]},{"id":"58cbf979.b92d58","type":"ui_switch","z":"1fe2c9ec.097096","name":"Cabinet Fan","label":"","group":"5dbdf8ee.c6c5f8","order":1,"width":"17","height":"2","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-toggle-on fa-4x","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-toggle-off fa-4x","offcolor":"orange","x":190,"y":660,"wires":[["45d5d1d3.edaf2"]]},{"id":"a5845e25.0995e","type":"ui_switch","z":"1fe2c9ec.097096","name":"Pump","label":"","group":"bcbe3dc4.6f211","order":1,"width":"17","height":"2","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-toggle-on fa-4x","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-toggle-off fa-4x","offcolor":"orange","x":210,"y":720,"wires":[["e7842790.c40f68"]]},{"id":"872b3f78.f6578","type":"ui_switch","z":"1fe2c9ec.097096","name":"","label":"Log Mashdata:","group":"4921dfbe.5bd69","order":2,"width":"6","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-4x","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-4x","offcolor":"orange","x":180,"y":80,"wires":[["da4cefe9.dadf1"]]},{"id":"da4cefe9.dadf1","type":"function","z":"1fe2c9ec.097096","name":"Set logFlag","func":"global.set(\"logFlag\",msg.payload);\n\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload});\n","outputs":1,"noerr":0,"x":370,"y":80,"wires":[[]]},{"id":"bf531bb3.4d5d58","type":"ds18b20","z":"63bd5d34.7210d4","name":"MashTemp","sensorid":"28-0000066a75e6","timer":"0.5","x":143,"y":150,"wires":[["cf5f0829.c912a8"]]},{"id":"cf5f0829.c912a8","type":"function","z":"63bd5d34.7210d4","name":"CheckTemp","func":"if (msg.payload - global.get(\"oldflowtemp\")<-1){\n node.warn(\"Flowwarning\");\n global.set(\"oldflowtemp\",msg.payload);\n msg.payload = (msg.payload - global.get(\"oldflowtemp\"));\n msg.topic = \"WARNING - STUCK MASH\";\nreturn msg;\n}\nglobal.set(\"oldflowtemp\",msg.payload);\n","outputs":1,"noerr":0,"x":349.6666793823242,"y":204.99999618530273,"wires":[["6d91e18.5b1d72","b7a1526c.121d3"]]},{"id":"6d91e18.5b1d72","type":"ui_toast","z":"63bd5d34.7210d4","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"Continue","cancel":"Stop Pump","topic":"","name":"","x":569,"y":223,"wires":[["836f0989.b99ed8"]]},{"id":"836f0989.b99ed8","type":"function","z":"63bd5d34.7210d4","name":"Stop Pump","func":"if (msg.payload == \"Stop Pump\"){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":841.6666666666665,"y":248.3333333333333,"wires":[["acf94f93.acb6d"]]},{"id":"acf94f93.acb6d","type":"rpi-gpio out","z":"63bd5d34.7210d4","name":"","pin":"15","set":true,"level":"0","out":"out","x":1051.6666259765625,"y":251.66665649414062,"wires":[]},{"id":"a76b7cfd.7a8af","type":"ui_template","z":"4756d5fb.b3fdcc","group":"4edd3cce.3cbbd4","name":"Time and Timer LCD","order":1,"width":"9","height":"3","format":"<script>\n    var icon=\"t\";\n\n        \n    var colours={\n    \"blackOnOrange\": {items:[\"#222\",\"#fb7c00\"]},    \n    \"blackOnGreen\" : {items:[\"#222\",\"#66ac66\"]},\n    \"blackOnBlue\" : {items:[\"#222\",\"#8888ff\"]},\n    \"blackOnYellow\" : {items:[\"#222\",\"#bbbb44\"]},\n    \"blackOnWhite\" : {items:[\"#222\",\"#aaaaaa\"]},\n    \"blackOnPink\" : {items:[\"#222\",\"#ff8888\"]},\n    \"yellowOnRed\" : {items:[\"#ccaa22\",\"#aa2222\"]},\n    \"whiteOnCyan\" : {items:[\"#dddddd\",\"#227777\"]},\n    \"orangeOnBlack\" : {items:[\"#ff8800\",\"#000000\"]},  \n    \"limeOnBlack\" : {items:[\"#00cc55\",\"#000000\"]},  \n    }  \n    \n    var daylist = [\"sun\", \"mon\", \"tue\", \"wed\", \"thu\", \"fri\", \"sat\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.type) != \"undefined\") icon=msg.type;\n    \n               if (icon==\"t\")\n                    {\n                        $(\"#DSEGWEATHER-BACK\").text(\"\");\n                        $(\"#DSEGWEATHER-ICON\").text(\"\");\n                        $(\"#DSEGTempcF\").text(\"\");\n                        $(\"#DSEGTempcB\").text(\"\");                        \n                        if (typeof(msg.payload) != \"undefined\") {msg.payload = genTimerStrings(msg.payload, 2); $(\"#DSEGTempF\").text(msg.payload);  $(\"#DSEGTempB\").text(\"88\"); }\n                    }\n                else\n                    {\n                        $(\"#DSEGTempF\").text(\"\");\n                        $(\"#DSEGTempcF\").text(\"\");\n                        $(\"#DSEGTempB\").text(\"\");\n                        $(\"#DSEGTempcB\").text(\"\");\n                        $(\"#DSEGWEATHER-BACK\").text(\"0\");\n                        if (typeof(msg.payload) != \"undefined\") $(\"#DSEGWEATHER-ICON\").text(msg.payload);\n                        \n                    }\n               if (typeof(msg.colour) != \"undefined\") {\n                              $(\".Clock-Wrapper\").css('background-color', colours[msg.colour].items[1]);  $(\".lcdClock\").css('color', colours[msg.colour].items[0]); \n                              if (colours[msg.colour].items[1]==\"#000000\") $(\".background\").css('color',\"rgba(255,255,255,0.15)\"); else  $(\".background\").css('color',\"rgba(0,0,0,0.1)\");\n                        }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"</span><span class=\\\"D14MI\\\">\" + tm_day  +  \"  \" + \"</span>\" + \"<span class=\\\"D7MI\\\">\" + tm_date + \"-\" + tm_mon + \"-\" + tm_year;\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n    \n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:100%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:300px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\";\n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.Weather-Background{\n\tz-index:50;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.Weather-Front{\n\tz-index:51;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:68px;\nheight:68px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:280px;\n\tbackground-color:#aaaaaa;\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n}\n\n.Clock-Time-Front{\n\tz-index:51;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:42px;\n}\n\n.background { color:rgba(0,0,0,0.1); }\n\n.Clock-Year-Background{\n\tz-index:50;\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:51;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:51; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:220px; \n\tfont-size:42px;\n}\n\n.tempc { z-index:51; }\n.tempcBack { z-index:50;  }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:278px; \n\tfont-size:24px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background background  D7MBI\">88:88<span style=\"font-size:30px;\">88</span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background background\"><span class=\"D14MI\"> ~~~ </span><span class=\"D7MI\">88-88-8888</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n\t\n\t<span id=\"DSEGTempF\" class=\"temp D7MBI\">00</span>\n\t<span id=\"DSEGTempB\" class=\"tempBack background D7MBI\">88</span>\t\n\t<span id=\"DSEGTempcF\" class=\"tempc D7MI\">C</span>\n\t<span id=\"DSEGTempcB\" class=\"tempcBack background D7MI\">8</span>\n\t\n\t\n\t<span id=\"DSEGWEATHER-BACK\" class=\"Weather-Background background DWEATHER\"></span>\n\t<span id=\"DSEGWEATHER-ICON\" class=\"Weather-Front DWEATHER\"></span>\n\t\t\n</div>\n\n","storeOutMessages":true,"fwdInMessages":false,"x":600,"y":80,"wires":[[]]},{"id":"3f4f2889.d30568","type":"function","z":"4756d5fb.b3fdcc","name":"Set colour","func":"msg.colour=global.get(\"LCDcolour\")\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["a76b7cfd.7a8af"]]},{"id":"153d4b54.cef9c5","type":"function","z":"4756d5fb.b3fdcc","name":"Timer minutes","func":"msg.payload = Math.floor((Date.now() - global.get(\"MTstart\"))/60000) %100;\nglobal.set(\"globaltimer\",Math.floor((Date.now() - global.get(\"MTstart\"))/60000) %100);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":60,"wires":[["a76b7cfd.7a8af"]]},{"id":"1259ff5c.de7fa1","type":"function","z":"4756d5fb.b3fdcc","name":"Reset clock","func":"global.set(\"MTstart\" ,Date.now());\nglobal.set(\"LCDcolour\",\"blackOnGreen\");\nglobal.set(\"MTAutoStart\" ,\"false\");\nglobal.set(\"oldTweet\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[[]]},{"id":"ac56f273.a7906","type":"ui_button","z":"4756d5fb.b3fdcc","name":"Reset","group":"4edd3cce.3cbbd4","order":2,"width":"2","height":"2","passthru":false,"label":"","color":"orange","bgcolor":"black","icon":"fa-refresh fa-4x","payload":"Reset","payloadType":"str","topic":"","x":170,"y":380,"wires":[["1259ff5c.de7fa1"]]},{"id":"d92cf7ee.bc55c8","type":"ui_switch","z":"4756d5fb.b3fdcc","name":"Man/Auto(MashTimer)","label":"Timer start (Man/Auto)","group":"22cc7aa2.8b92f6","order":1,"width":"9","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-toggle-on fa-4x","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"fa-toggle-off fa-4x","offcolor":"orange","x":600,"y":180,"wires":[["38387746.e6e248"]]},{"id":"38387746.e6e248","type":"function","z":"4756d5fb.b3fdcc","name":"Set MTAutoStart","func":"global.set(\"MTAutoStart\" ,msg.payload);\nif(msg.payload==\"true\"){\nglobal.set(\"LCDcolour\",\"blackOnYellow\");\n} \nreturn msg;","outputs":1,"noerr":0,"x":870,"y":180,"wires":[[]]},{"id":"59ed2216.34087c","type":"function","z":"4756d5fb.b3fdcc","name":"get status","func":"if(global.get(\"MTAutoStart\")==\"true\"){\n    msg.payload=\"true\";\n}\nelse {\n    msg.payload=\"false\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["d92cf7ee.bc55c8"]]},{"id":"598cf94b.be8da8","type":"function","z":"a55c907f.295ba","name":"MashPIDStatus","func":"if (global.get(\"MashPIDStatus\")==\"enabled\") {\nmsg.enable=1;\n\n} else {\nglobal.set(\"MashPIDStatus\",\"disabled\");\nmsg.enable=0;\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["46b3c723.ae3f88"]]},{"id":"4a293c76.598424","type":"function","z":"3f0a242b.bdaa0c","name":"HLTPIDStatus","func":"if (global.get(\"HLTPIDStatus\")==\"enabled\") {\nmsg.enable=true;\n} else {\n    global.set(\"HLTPIDStatus\",\"disabled\");\n    msg.enable=false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":120,"wires":[["7618e41f.d9d9ec"]]},{"id":"4abcd9b2.0c8258","type":"ds18b20","z":"a55c907f.295ba","name":"Temp","sensorid":"28-0000066a75e6","timer":"0.167","x":1590,"y":400,"wires":[["538a909f.4d2b7"]]},{"id":"538a909f.4d2b7","type":"ui_chart","z":"a55c907f.295ba","name":"","group":"7d1ec7e6.5e8a88","order":0,"width":"15","height":"6","label":"Mash Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Waiting for data","ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#cd3205","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1890,"y":340,"wires":[[],[]]},{"id":"59443dc6.5d3804","type":"function","z":"4756d5fb.b3fdcc","name":"pass thru","func":"global.set(\"Timer1SetTime\",msg.payload);\n\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload});\nmsg.topic = \"setpoint\";\nreturn msg;","outputs":1,"noerr":0,"x":100,"y":620,"wires":[["c69a22ee.051ea","fb88e15.20cbb2"]]},{"id":"c69a22ee.051ea","type":"ui_numeric","z":"4756d5fb.b3fdcc","name":"SetTime(1)","label":"","group":"12fecd1a.0afa33","order":2,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"1","x":112.23812103271484,"y":512.8095111846924,"wires":[["59443dc6.5d3804"]]},{"id":"fb88e15.20cbb2","type":"ui_slider","z":"4756d5fb.b3fdcc","name":"SetTime(1)","label":"Time[min]","group":"12fecd1a.0afa33","order":1,"width":"12","height":"1","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":110,"y":460,"wires":[["59443dc6.5d3804"]]},{"id":"725258bd.cb8c28","type":"ui_button","z":"1fe2c9ec.097096","name":"Timers","group":"4edd3cce.3cbbd4","order":3,"width":"2","height":"2","passthru":false,"label":"","color":"orange","bgcolor":"black","icon":"fa-clock-o fa-4x","payload":"Timers","payloadType":"str","topic":"","x":190,"y":520,"wires":[["ce4ddb3d.03fae8"]]},{"id":"ce4ddb3d.03fae8","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto Timers","x":370,"y":520,"wires":[[]]},{"id":"747c895c.a117e8","type":"function","z":"4756d5fb.b3fdcc","name":"pass thru","func":"global.set(\"Timer1SetTemp\",msg.payload);\n\nnode.status({fill:\"red\",shape:\"dot\",text:msg.payload});\nmsg.topic = \"setpoint\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":620,"wires":[["e73bed75.94b0f","a5ca0417.e5ef08"]]},{"id":"e73bed75.94b0f","type":"ui_numeric","z":"4756d5fb.b3fdcc","name":"SetTemp(1)","label":"","group":"12fecd1a.0afa33","order":2,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".1","x":352.23812103271484,"y":512.8095111846924,"wires":[["747c895c.a117e8"]]},{"id":"a5ca0417.e5ef08","type":"ui_slider","z":"4756d5fb.b3fdcc","name":"SetTemp(1)","label":"Temp[°C]","group":"12fecd1a.0afa33","order":1,"width":"12","height":"1","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":350,"y":460,"wires":[["747c895c.a117e8"]]},{"id":"afd0b0b.db7a55","type":"ui_button","z":"1fe2c9ec.097096","name":"Dashboard","group":"d86a5a90.0207c8","order":2,"width":"2","height":"2","passthru":false,"label":"","color":"orange","bgcolor":"black","icon":"fa-home fa-4x","payload":"Dashboard","payloadType":"str","topic":"","x":170,"y":560,"wires":[["7d5211bf.786b5"]]},{"id":"7d5211bf.786b5","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"goto Dashboard","x":360,"y":560,"wires":[[]]},{"id":"3b2896cf.218f8a","type":"function","z":"4756d5fb.b3fdcc","name":"pass thru","func":"global.set(\"Timer2SetTime\",msg.payload);\n\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload});\nmsg.topic = \"setpoint\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":620,"wires":[["12eaf62c.da674a","a31b0436.b6b478"]]},{"id":"12eaf62c.da674a","type":"ui_numeric","z":"4756d5fb.b3fdcc","name":"SetTime(2)","label":"","group":"c7e27c46.16d8","order":2,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"1","x":612.2381210327148,"y":512.8095111846924,"wires":[["3b2896cf.218f8a"]]},{"id":"a31b0436.b6b478","type":"ui_slider","z":"4756d5fb.b3fdcc","name":"SetTime(2)","label":"Time[min]","group":"c7e27c46.16d8","order":1,"width":"12","height":"1","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":610,"y":460,"wires":[["3b2896cf.218f8a"]]},{"id":"87e26a08.1bc958","type":"function","z":"4756d5fb.b3fdcc","name":"pass thru","func":"global.set(\"Timer2SetTemp\",msg.payload);\n\nnode.status({fill:\"red\",shape:\"dot\",text:msg.payload});\nmsg.topic = \"setpoint\";\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":620,"wires":[["a2acd77c.a5c088","101085e4.0c252a"]]},{"id":"a2acd77c.a5c088","type":"ui_numeric","z":"4756d5fb.b3fdcc","name":"SetTemp(2)","label":"","group":"c7e27c46.16d8","order":2,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".1","x":852.2381210327148,"y":512.8095111846924,"wires":[["87e26a08.1bc958"]]},{"id":"101085e4.0c252a","type":"ui_slider","z":"4756d5fb.b3fdcc","name":"SetTemp(2)","label":"Temp[°C]","group":"c7e27c46.16d8","order":1,"width":"12","height":"1","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":850,"y":460,"wires":[["87e26a08.1bc958"]]},{"id":"d1a96636.a1b098","type":"function","z":"4756d5fb.b3fdcc","name":"pass thru","func":"global.set(\"Timer3SetTime\",msg.payload);\n\nnode.status({fill:\"blue\",shape:\"dot\",text:msg.payload});\nmsg.topic = \"setpoint\";\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":620,"wires":[["66599ae9.a8eb84","f2e5f9c1.c35018"]]},{"id":"66599ae9.a8eb84","type":"ui_numeric","z":"4756d5fb.b3fdcc","name":"SetTime(3)","label":"","group":"209c698a.4e29d6","order":2,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":"1","x":1132.2381210327148,"y":512.8095111846924,"wires":[["d1a96636.a1b098"]]},{"id":"f2e5f9c1.c35018","type":"ui_slider","z":"4756d5fb.b3fdcc","name":"SetTime(3)","label":"Time[min]","group":"209c698a.4e29d6","order":1,"width":"12","height":"1","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":1130,"y":460,"wires":[["d1a96636.a1b098"]]},{"id":"99f44a36.446bb8","type":"function","z":"4756d5fb.b3fdcc","name":"pass thru","func":"global.set(\"Timer3SetTemp\",msg.payload);\n\nnode.status({fill:\"red\",shape:\"dot\",text:msg.payload});\nmsg.topic = \"setpoint\";\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":620,"wires":[["c4e31b74.84a838","84c54a4d.478088"]]},{"id":"c4e31b74.84a838","type":"ui_numeric","z":"4756d5fb.b3fdcc","name":"SetTemp(3)","label":"","group":"209c698a.4e29d6","order":2,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".1","x":1372.2381210327148,"y":512.8095111846924,"wires":[["99f44a36.446bb8"]]},{"id":"84c54a4d.478088","type":"ui_slider","z":"4756d5fb.b3fdcc","name":"SetTemp(3)","label":"Temp[°C]","group":"209c698a.4e29d6","order":1,"width":"12","height":"1","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":1370,"y":460,"wires":[["99f44a36.446bb8"]]},{"id":"32148977.203436","type":"function","z":"4756d5fb.b3fdcc","name":"CheckTimers","func":"var timerminutes = global.get(\"globaltimer\");\n\nif(global.get(\"timersEnabled\")>0){\n\n    if(timerminutes>=global.get(\"Timer3SetTime\")){\n        global.set(\"MTsetpoint\",global.get(\"Timer3SetTemp\"));   \n        msg.tweet = \"Timer3 active. Setpoint: \" + global.get(\"MTsetpoint\");\n        return msg;\n    }\n    if(timerminutes>=global.get(\"Timer2SetTime\")){\n        global.set(\"MTsetpoint\",global.get(\"Timer2SetTemp\"));\n        msg.tweet = \"Timer2 active. Setpoint: \" + global.get(\"MTsetpoint\");\n        return msg;\n    }\n    if(timerminutes>=global.get(\"Timer1SetTime\")){\n        global.set(\"MTsetpoint\",global.get(\"Timer1SetTemp\"));\n        msg.tweet = \"Timer1 active. Setpoint: \" + global.get(\"MTsetpoint\");\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":570,"y":20,"wires":[["fe337283.60d94"]]},{"id":"5537f1a6.07371","type":"function","z":"a55c907f.295ba","name":"verify Setpoint","func":"msg.payload=msg.setpoint;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["95f7d768.8e7488"]]},{"id":"6f49848c.2fbe6c","type":"ui_switch","z":"4756d5fb.b3fdcc","name":"EnableTimers","label":"","group":"d86a5a90.0207c8","order":1,"width":"3","height":"2","passthru":true,"decouple":"false","topic":"enable","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-toggle-on fa-4x","oncolor":"green","offvalue":"0","offvalueType":"num","officon":"fa-toggle-off fa-4x","offcolor":"orange","x":580,"y":260,"wires":[["a1a22eb1.0a541"]]},{"id":"a1a22eb1.0a541","type":"function","z":"4756d5fb.b3fdcc","name":"Enable Timers","func":"if(msg.payload==1){\n    global.set(\"timersEnabled\",1);\n    global.set(\"LCDcolour\",\"blackOnYellow\");\n} else {\n  global.set(\"timersEnabled\",0); \n  global.set(\"LCDcolour\",\"blackOnWhite\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":260,"wires":[[]]},{"id":"3482adce.002252","type":"inject","z":"4756d5fb.b3fdcc","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":110,"y":60,"wires":[["153d4b54.cef9c5","3f4f2889.d30568","59ed2216.34087c","bc88a741.193c68","4fe8326d.493b5c"]]},{"id":"44611c9e.c25104","type":"function","z":"a55c907f.295ba","name":"","func":"if(msg.payload===true){\n  global.set(\"MashPIDStatus\",\"enabled\");\n  msg.payload=\"enabled\";\n} else {\n  global.set(\"MashPIDStatus\",\"disabled\");    \n  msg.payload=\"disabled\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":20,"wires":[["46b3c723.ae3f88"]]},{"id":"86ee8e70.77b12","type":"ui_button","z":"1fe2c9ec.097096","name":"","group":"6e6cb254.44769c","order":0,"width":"3","height":"2","passthru":false,"label":"close","color":"","bgcolor":"","icon":"","payload":"close","payloadType":"str","topic":"","x":670,"y":720,"wires":[["3569b4a1.a07fcc"]]},{"id":"3569b4a1.a07fcc","type":"ui_template","z":"1fe2c9ec.097096","group":"478059b9.990488","name":"","order":0,"width":0,"height":0,"format":"<script>\n    window.close();\n</script>","storeOutMessages":false,"fwdInMessages":false,"x":830,"y":720,"wires":[[]]},{"id":"8cbff3c8.1c44f","type":"ui_ui_control","z":"1fe2c9ec.097096","name":"ui control","x":660,"y":680,"wires":[["3569b4a1.a07fcc"]]},{"id":"537a81ec.370f5","type":"function","z":"63bd5d34.7210d4","name":"add time","func":"msg.payload=msg.topic+\" at \" +msg.time;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":360,"wires":[["c86ed668.97ea88"]]},{"id":"206a2b35.dac5f4","type":"inject","z":"63bd5d34.7210d4","name":"","topic":"WARNING - STUCK MASH","payload":"WARNING - STUCK MASH at ","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":280,"wires":[["8a861982.62a288"]]},{"id":"c86ed668.97ea88","type":"twitter out","z":"63bd5d34.7210d4","twitter":"","name":"Tweet","x":740,"y":400,"wires":[]},{"id":"8a861982.62a288","type":"moment","z":"63bd5d34.7210d4","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Copenhagen","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"da_DK","output":"time","outputType":"msg","outTz":"Europe/Copenhagen","x":280,"y":420,"wires":[["537a81ec.370f5"]]},{"id":"b7a1526c.121d3","type":"moment","z":"63bd5d34.7210d4","name":"","topic":"","input":"","inputType":"date","inTz":"Europe/Copenhagen","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"da_DK","output":"time","outputType":"msg","outTz":"Europe/Copenhagen","x":420,"y":300,"wires":[["537a81ec.370f5"]]},{"id":"fe337283.60d94","type":"function","z":"4756d5fb.b3fdcc","name":"Tweet?","func":"if(global.get(\"timersEnabled\")>0){\n    if(global.get(\"oldTweet\")!=msg.tweet){    \n    msg.payload=msg.tweet + \" at \" + msg.time;\n    global.set(\"oldTweet\",msg.tweet);\n    return msg;\n    }\n}","outputs":1,"noerr":0,"x":840,"y":20,"wires":[["66c965d4.bc3c3c"]]},{"id":"66c965d4.bc3c3c","type":"twitter out","z":"4756d5fb.b3fdcc","twitter":"","name":"Tweet","x":1050,"y":20,"wires":[]},{"id":"bc88a741.193c68","type":"moment","z":"4756d5fb.b3fdcc","name":"","topic":"time","input":"","inputType":"date","inTz":"Europe/Copenhagen","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"da_DK","output":"","outputType":"msg","outTz":"Europe/Copenhagen","x":310,"y":20,"wires":[["32148977.203436"]]},{"id":"4fe8326d.493b5c","type":"function","z":"4756d5fb.b3fdcc","name":"get status","func":"msg.payload=global.get(\"timersEnabled\");\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["6f49848c.2fbe6c"]]},{"id":"a88fbf6d.456a5","type":"function","z":"a55c907f.295ba","name":"Autostart Mashtimer","func":"if (global.get(\"MTAutoStart\") ==\"true\") {\n    global.set(\"LCDcolour\",\"blackOnYellow\");\n    if (msg.payload > global.get(\"MTsetpoint\")) {\n        global.set(\"MTstart\",Date.now());\n        global.set(\"MTAutoStart\",\"active\");\n        global.set(\"LCDcolour\",\"blackOnGreen\");\n        msg.tweet=\"Setpoint reached\";\n        return msg;\n    }\n    else {\n        global.set(\"MTstart\",Date.now());   \n    }\n}","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["213ca777.d57838"]]},{"id":"50bc67ff.6f6598","type":"function","z":"a55c907f.295ba","name":"Tweet?","func":"if(global.get(\"oldTweet\") != msg.tweet){    \n    msg.payload = msg.tweet + \" at \" + msg.time;\n    global.set(\"oldTweet\",msg.tweet);\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":500,"wires":[["997b7e50.5b79f"]]},{"id":"213ca777.d57838","type":"moment","z":"a55c907f.295ba","name":"","topic":"time","input":"","inputType":"date","inTz":"Europe/Copenhagen","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"da_DK","output":"","outputType":"msg","outTz":"Europe/Copenhagen","x":530,"y":500,"wires":[["50bc67ff.6f6598"]]},{"id":"997b7e50.5b79f","type":"twitter out","z":"a55c907f.295ba","twitter":"","name":"Tweet","x":870,"y":500,"wires":[]}]